<div id="wish-form-update" class="container hidden">
  <div class="auth-form" id="update-wish-form">
    <h2>Редактирование желания</h2><br>

    <%= form_with(model: @wish, local: true) do |form| %>
      <% if @wish.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>
          <ul>
            <% @wish.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label "Название" %>
        <%= form.text_field :title %>
      </div>

      <div class="form-group">
        <%= form.label "Описание" %>
        <%= form.text_area :description %>
      </div>

      <%= form.submit "Обновить", class: "btn", type: "submit" %>
    <% end %>
    <br><%= link_to 'Назад', profile_user_path(@current_user), class: "btn" %>
  </div>
  <div class="modal fade" id="confirm_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Вы уверены, что хотите удалить аккаунт?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> будет удален навсегда. Это действие необратимо.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-danger" id="confirm_delete_button">Да, удалить аккаунт</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      $('#confirm_delete_button').click(function() {
          $(this).closest('form').submit();
      });
  </script>
</div>