<div id="wish-form-update" class="container hidden">
  <div class="auth-form" id="update-wish-form">
    <h2>Редактирование желания</h2><br>

    <%= form_with(model: @wish, local: true) do |form| %>
      <% if @wish.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>
          <ul>
            <% @wish.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label "Название" %>
        <%= form.text_field :title %>
      </div>

      <div class="form-group">
        <%= form.label "Описание" %>
        <%= form.text_area :description %>
      </div>

      <%= form.submit "Обновить", class: "btn", type: "submit" %>
    <% end %>
    <br><%= link_to 'Назад', profile_user_path(@current_user), class: "btn" %>
  </div>
</div>