<div id="register-page" class="container hidden">
  <div class="auth-form" id="register-form">
    <%= form_for(@user, url: users_index_url) do |f| %>
      <h2>Регистрация</h2><br>

      <div class="form-group">
        <%= f.label "Логин" %>
        <%= f.text_field :login, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label "Пароль" %>
        <%= f.password_field :password, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label "Введите пароль ещё раз" %>
        <%= f.password_field :password_conf, class: "form-control", required: true %>
      </div>

      <%= f.submit "Зарегистрироваться", class: "btn", type: "submit" %>
    <% end %>
    <br><p>Уже есть аккаунт?</p>
    <br><%= link_to "Войти", login_path, class: "btn" %>
  </div>
</div>
