<div id="account-page" class="container hidden">
  <h2>Личный кабинет</h2><br>
  <%= link_to "Создать новое желание", wishes_path, class: "btn" %><br><br>

  <div id="my-wishes-container">
    <br><h3>Мои желания</h3>
    <% @user.wishes.each do |wish| %>
      <div class="wish-card">
        <h3><%= wish.title %></h3>
        <p><%= wish.description %></p><br>
        <%= link_to 'Просмотр', showWish_path(wish), class: "btn" %>
        <%= link_to 'Редактировать', editWish_path(wish), class: "btn"  %>
        <%= link_to 'Удалить', delWish_path(wish), method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn"  %>
      </div>
    <% end %>
  </div>
</div>





