<h1>HELLO</h1>

<ul>
  <% @wishes.each do |wish| %>
    <li>
      <strong><%= wish.title %></strong><br>
      <%= wish.description %><br>
      <em>Создано пользователем: <%= wish.user.email %></em>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <% if @current_user %>
    <%= link_to "Личный кабинет", profile_user_path(@current_user) %>
  <% end %>
  <%= link_to "Выйти", logout_path, method: :delete %>
<% else %>
  <%= link_to "Регистрация", users_index_path %>
  <%= link_to "Войти", login_path %>
<% end %>
