<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Projectweb" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

  </head>

  <body>
  <nav class="navbar">
    <div class="brand">
      <h1>Wish Cards</h1>
    </div>
    <div class="nav-links">
      <%= link_to "На главную", home_index_path %>
      <% if user_signed_in? %>
        <% if @current_user %>
          <a><%= link_to "Личный кабинет", profile_user_path(@current_user) %></a>
          <a><%= link_to "Выйти", logout_path, method: :delete %></a>
        <% end %>
      <% else %>
        <a><%= link_to "Регистрация", users_index_path %></a>
        <a><%= link_to "Войти", login_path %></a>
      <% end %>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
